@charset "utf-8";
/* CSS Document */
@media screen and (max-width: 400px) {}

/*	width: 100%;
	max-width: 858px;
*/
body {padding: 2px 2px 2px 2px;}
table#main {
	margin: 0 auto;
	height: 100%;
	max-height: 700px;
	max-width: 480px;
	box-shadow: -8px 8px 8px #888;
	border-radius: 10px;
	background-color:#FFF;
	padding: 0px;
/* padding: top/bottom   left/right; */
}
._body {
	overflow:auto;	
	margin: 0 auto;
	padding:0;
	width:100%;
	height:100%;
	background-color:white;
	border:0px solid pink;
}