vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|24 Oct 2012 05:00:00 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|T-Jay-PC\\T-Jay
vti_modifiedby:SR|T-Jay-PC\\T-Jay
vti_timecreated:TR|24 Oct 2012 14:23:54 -0000
vti_backlinkinfo:VX|CSS/pix.css
vti_cacheddtm:TX|24 Oct 2012 05:00:00 -0000
vti_filesize:IR|569
